body{
    font-family: Arial, Helvetica, sans-serif;
    color: #6c7b84;
    font-size: 12px;
    background-image:url(img/fondo.jpg);
    margin: 0px;
    height: auto;
}
.barra{
    background-color: #000;
    height: 19px;
    width: auto;
}
.logo{
    margin-left: 27%;
    margin-top: 38px;
    margin-bottom: 19px;
}
.principal{
    width: 800px;
    margin: auto;
    background-color: #fff;
    padding:15px;
    border-radius: 15px 15px 0px 0px;
    height: 850px;
    margin-bottom: 0px;
}

.cabecera{
    height: auto;
    display: block;
}
.cabecera h1{
    font-size: 250%;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
}
.cabecera p{
    width: 500px;
    padding: 15px;
    padding-bottom: 0px;
    font-size: 125%;
    font-weight: 100;
    margin-top: 0px;

}
.persona{
    background-image: url(img/imgport.png);
    position: absolute;
    height: 231px;
    width: 177px;
    margin-left: 550px;
    margin-top: -140px;
}

.menu{
    height: 26px;
    background-image: url(img/fondomenu.jpg);
    list-style: none;
    margin: 0px 10px;
}
.menu ul li{
    display: inline-block;
    margin: 0px 20px 0 px 20px;
    
}
.menu ul li+li{
    border-left: 1px solid #3a86b8;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    color: #3a86b8;
    padding: 5px;
    height: auto;
}

.trabajos{
    
    float: left;
    width: 65%;
}

.noticia{
    border-top: 1px solid #5a5f62;
    padding-left: 8px;
}

.nTitulo{
    color: #0092c5;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
time{
    margin-bottom: 19px;
    color: #7dd0f0;
}

aside{

    float: right;
    width: 230px;
    margin-top: 36px;
    padding-right:10px;
}
.galeria{
    float:left;
    
}
h2{
    font-size: 175%;
    margin-bottom: 10px;
    padding-left: 8px;

}
.galeria article{
    width: 33%;
    float: left;
    border: 0px;
    padding-left: 8px;
    
}
.galeria h2{
    border-bottom: 1px solid #5a5f62;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.galeria img{
    margin-top: 15px;
    float: right;
}

footer{
    margin-top: 0px;
    height: auto;
    width: 100%;
    margin-bottom: 0px;
}